<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Вселенная праздников - Организация детских и семейных праздников под ключ в Москве">
    <title>Вселенная праздников — Организация детских праздников под ключ</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/src/css/main.css">
</head>


<body class="no-hero">

    <!-- NAVIGATION -->
    <nav class="navigation navigation--with-hero" id="mainNav">
        <div class="navigation__container">
            <!-- Left Zone -->
            <div class="navigation__left">
                <a href="#" class="navigation__logo">
                    <img src="/src/img/brand/logo-main__white_main.svg" alt="Вселенная праздников"
                        class="navigation__logo-img navigation__logo-img--light">
                    <img src="/src/img/brand/logo-main__dark_main.svg" alt="Вселенная праздников"
                        class="navigation__logo-img navigation__logo-img--dark">
                </a>
                <div class="nav__description">
                    <div class="nav__title--line">Организация детских<br>праздников в Москве и МО</div>
                    <div class="nav__address" data-set="address"></div>
                </div>
            </div>

            <!-- Center Zone -->
            <div class="navigation__center">
                <ul class="navigation__menu" id="navMenu">
                    <li class="navigation__item"><a href="#services" class="navigation__link">Услуги</a></li>
                    <li class="navigation__item"><a href="#packages" class="navigation__link">Пакеты</a></li>
                    <li class="navigation__item"><a href="#gallery" class="navigation__link">Галерея</a></li>
                    <li class="navigation__item"><a href="#reviews" class="navigation__link">Отзывы</a></li>
                    <li class="navigation__item"><a href="#faq" class="navigation__link">FAQ</a></li>
                    <li class="navigation__item"><a href="#contacts" class="navigation__link">Контакты</a></li>
                </ul>
            </div>

            <!-- Right Zone -->
            <div class="navigation__right">
                <div class="nav__socials">
                    <a class="nav-socials__item" href="#" aria-label="VK" data-social="vk">
                        <img src="/src/img/svg/vk.svg" alt="VK">
                    </a>
                    <a class="nav-socials__item" href="#" aria-label="Telegram" data-social="tg">
                        <img src="/src/img/svg/tg.svg" alt="Telegram">
                    </a>
                    <a class="nav-socials__item" href="#" aria-label="WhatsApp" data-social="wa">
                        <img src="/src/img/svg/wa.svg" alt="WhatsApp">
                    </a>
                </div>
                <div class="nav__contact">
                    <div class="nav__hours" data-set="hours"></div>
                    <a class="nav__phone" href="#" data-set-link="phone"></a>
                    <a href="#" class="nav__phone" data-modal="order">Заказать звонок</a>
                </div>
            </div>

            <!-- Burger Menu -->
            <button class="navigation__burger" id="burgerBtn" type="button" aria-label="Открыть меню">
                <span class="navigation__burger-lines">
                    <span class="navigation__burger-line"></span>
                    <span class="navigation__burger-line"></span>
                    <span class="navigation__burger-line"></span>
                </span>
            </button>
        </div>

        <!-- Mobile Menu -->
        <div class="navigation__mobile" id="mobileMenu">
            <ul class="navigation__mobile-menu">
                <li class="navigation__mobile-item"><a href="#services" class="navigation__mobile-link">Услуги</a></li>
                <li class="navigation__mobile-item"><a href="#packages" class="navigation__mobile-link">Пакеты</a></li>
                <li class="navigation__mobile-item"><a href="#gallery" class="navigation__mobile-link">Галерея</a></li>
                <li class="navigation__mobile-item"><a href="#reviews" class="navigation__mobile-link">Отзывы</a></li>
                <li class="navigation__mobile-item"><a href="#faq" class="navigation__mobile-link">FAQ</a></li>
                <li class="navigation__mobile-item"><a href="#contacts" class="navigation__mobile-link">Контакты</a>
                </li>
            </ul>
            <div class="navigation__mobile-contacts">
                <a href="#" class="navigation__mobile-phone" data-set-link="phone"></a>
                <a href="#orderModal" data-modal="order" class="navigation__mobile-cta">Заказать звонок</a>
            </div>
        </div>
    </nav>


    <!-- ================================================
Main content
Основной контент страницы должен быть размещен здесь.
================================================ -->
    <main>
        <div class="container">
            <div class="main__content">
                <h2>Заголовок страницы</h2>
                <p>loremru1000</p>
            </div>
        </div>
    </main>


    <!-- ================================================
Main content end
Основной контент конец
================================================ -->
    <!-- FOOTER -->
    <!-- include: src/template/layout/footer.html -->
    <footer class="footer">
        <div class="footer__box">
            <div class="footer__mascot" aria-hidden="true">
                <img src="/src/img/brand/footer__logo.svg" alt="">
            </div>
            <div class="footer__grid">
                <!-- Brand -->
                <div class="footer__bottom">
                    <div class="footer__legal">
                        <a href="src/pages/legal/privacy_policy.html">Политика конфиденциальности</a>
                        <a href="src/pages/legal/data_processing_agreement.html">Согласие на&nbsp;обработку персональных
                            данных</a>
                        <a href="src/pages/legal/terms_of_use.html">Соглашение пользователя</a>
                    </div>
                    <div class="footer__copy">
                        <p>Все права защищены, <span data-year-start="2020"></span></p>
                        <p>Информация, указанная на&nbsp;сайте, не&nbsp;являются публичной офертой</p>
                        <p>Мы собираем обезличенные метаданные пользователя (cookie, данные об IP-адресе и
                            местоположении)
                            для
                            нормального
                            функционирования сайта и если вы не желаете, чтобы эти данные обрабатывались, то пожалуйста
                            покиньте
                            сайт.</p>
                    </div>
                    <a href="index.html#services">Доп. услуги</a>
                    <a href="index.html#packages">Цены</a>
                    <a href="index.html#hero">О нас</a>
                    <a href="index.html#gallery">Фотогалерея</a>
                    <a href="src/pages/contact.html">Контакты</a>
                    </nav>

                    <!-- Contacts -->
                    <div class="footer__contacts">
                        <div class="footer__socials" aria-label="Соцсети">
                            <a class="footer__icon" href="#" aria-label="VK" data-social="vk">
                                <img src="src/img/svg/vk.svg" alt="VK">
                            </a>
                            <a class="footer__icon" href="#" aria-label="Telegram" data-social="tg">
                                <img src="src/img/svg/tg.svg" alt="Telegram">
                            </a>
                            <a class="footer__icon" href="#" aria-label="WhatsApp" data-social="wa">
                                <img src="src/img/svg/wa.svg" alt="WhatsApp">
                            </a>
                        </div>
                        <a href="#" class="footer__phone" data-set-link="phone"></a>
                        <div class="footer__hours" data-set="hours"></div>
                        <a class="btn btn--primary btn--large" href="#calc">Получить расчет</a>
                    </div>
                </div>

                <div class="footer__bottom">
                    <div class="footer__legal">
                        <a href="src/pages/legal/privacy_policy.html">Политика конфиденциальности</a>
                        <a href="src/pages/legal/data_processing_agreement.html">Согласие на&nbsp;обработку персональных
                            данных</a>
                        <a href="src/pages/legal/terms_of_use.html">Соглашение пользователя</a>
                    </div>
                    <div class="footer__copy">
                        <p>Все права защищены, <span data-year-start="2020"></span></p>
                        <p>Информация, указанная на&nbsp;сайте, не&nbsp;являются публичной офертой</p>
                        <p>Мы собираем обезличенные метаданные пользователя (cookie, данные об IP-адресе и
                            местоположении)
                            для
                            нормального
                            функционирования сайта и если вы не желаете, чтобы эти данные обрабатывались, то пожалуйста
                            покиньте
                            сайт.</p>
                    </div>
                    <div class="footer_company">
                        <p>ИП Старков Александр Александрович</p>
                        <p>ИНН 7724375310 </p>
                        <p>ОГРН 1207700139193</p>
                    </div>
                </div>
            </div>
    </footer>


    <!-- JavaScript -->

    <script src="/src/js/main.js" type="module"></script>
    <script src="/src/js/components/filter.js" type="module"></script>

    <!-- Modal Structure -->
    <div id="orderModal" class="modal" aria-hidden="true">
        <div class="modal__content">
            <button class="modal__close" data-modal-close aria-label="Закрыть">&times;</button>
            <h2 class="modal__header">Заказать звонок</h2>
            <p class="modal__subtitle">Заполните форму, мы свяжемся с вами, ответим на все ваши вопросы</p>

            <form id="orderForm" class="modal__form">
                <input type="text" id="name" name="name" class="modal__input" placeholder="Имя" required
                    pattern="^[A-Za-zА-Яа-яЁё\s-]+$" title="Только буквы (латиница или кириллица), пробел и дефис"
                    aria-describedby="name-error">
                <div id="name-error" class="form__error" aria-live="polite">Введите только буквы (латиница или
                    кириллица)</div>
                <input type="tel" id="phone" name="phone" class="modal__input" placeholder="Телефон*" required
                    inputmode="tel" autocomplete="tel" pattern="^[0-9+()\- ]+$"
                    title="Разрешены только цифры и символы + ( ) -" aria-describedby="phone-hint-template">
                <small class="form__hint" id="phone-hint-template">Разрешены только цифры и символы + ( ) -</small>
                <button type="submit" class="btn btn--primary btn--large">Кнопка</button>

                <div class="modal__consent-block">
                    <button type="button" class="modal__consent-toggle" aria-expanded="false">
                        <span>Заполняя данную форму, Вы принимаете</span>
                        <span class="modal__consent-caret" aria-hidden="true">▴</span>
                    </button>

                    <ul class="modal__consent-list">
                        <li class="modal__consent-item">
                            <label>
                                <input type="checkbox" checked name="agree_terms">
                                <a href="src/pages/legal/terms_of_use.html" target="_blank">Соглашение пользователя</a>
                            </label>
                        </li>
                        <li class="modal__consent-item">
                            <label>
                                <input type="checkbox" checked name="agree_privacy">
                                <a href="src/pages/legal/privacy_policy.html" target="_blank">Политику
                                    конфиденциальности</a>
                            </label>
                        </li>
                        <li class="modal__consent-item">
                            <label>
                                <input type="checkbox" checked name="agree_data">
                                <a href="src/pages/legal/data_processing_agreement.html" target="_blank">Согласие на
                                    обработку персональных данных</a>
                            </label>
                        </li>
                        <li class="modal__consent-item">
                            <label>
                                <input type="checkbox" checked name="marketing_consent">
                                Согласие на получение рекламных и информационных рассылок.
                            </label>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</body>